#R
.Rproj
.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata
.utf8.md
.knit.md

#python
.spyproject

#master
R/master.R

#folders
data/
plots/
R/test/

#html
.html

#notes
notes.R
notes.Rmd
notes.md
